@model IEnumerable<Product>
@using SpaceShop_Utility;
@{
    List<Product> products = Model.ToList();
    double totalPriceProducts = 0;
}
<h1>Shooping Cart</h1>

<p><a class="btn btn-primary" asp-controller="Home">Continue Shopping</a></p>
<p><a class="btn btn-danger" asp-action="Clear">Clear</a></p>


@if (Model.Count() > 0)
{

    <form method="post" asp-action="Summary">

        @for (int i = 0; i < products.Count(); i++)
        {
            <input asp-for="@products[i].Id" hidden /> 
            <p>
                <img src="@PathManager.ImageProductPath@products[i].Image" width="100" class="rounded" />
            </p>

            <p>
            Product Name: @products[i].Name
            </p>

            <p>
            Description: @products[i].ShortDescription
            </p>

            <p>
            Price: @products[i].Price
            </p>

            @if (true)//(User.IsInRole(PathManager.AdminRole))
            {
                <p>
                    Count:
                    <input type ="text" asp-for="@products[i].TempCount" class="form-control"/>
                </p>
                <p>
                    Total Price: @(products[i].TempCount * products[i].Price)
                </p>
                totalPriceProducts += (products[i].TempCount * products[i].Price);
            }
            <p>
                <a class="btn btn-danger" asp-action="Remove" asp-route-Id="@products[i].Id">
                    TRASH
                </a>
            </p>
            <h3>
                Total Products Price: @totalPriceProducts
            </h3>
        }


        <p>
            <button type="submit" class="btn btn-success">
                Continue
            </button>
        </p>
        <p>
            <button type="submit" asp-action="Update" class="btn btn-info">Update</button>
        </p>

    </form>
}
else
{
    <p>Cart is emty</p>
}
