@model IEnumerable<Product>

<h1>Shopping cart</h1>

@if (Model.Count() > 0)
{
    <form method="post">

        <p><a class="btn btn-info" asp-controller="Home">Continue shopping</a></p>

        @foreach (var item in Model)
        {
            <p>
                <img class="rounded" width="100" src="@PathManager.ImageProductPath@item.Image" />
            </p>
            <p>
                Product Name: @item.Name
            </p>
            <p>
                @item.ShortDescription
            </p>
            <p>
                Description: @item.Description
            </p>
            <p>
                Price $$$: @item.Price
            </p>
            <p>
                <a class="btn btn-danger" asp-action="Remove" asp-route-id="@item.Id">Trash</a>
            </p>
        }
        <p>
            <button class="btn btn-success" type="submit">Continue</button>
        </p>

    </form>
}
else
{
    <p>Cart is empty</p>
}


