@model SpaceShop.ViewModels.ProductUserViewModel
@{
    int[] ProductIds = new int[Model.ProductList.Count()];
    string UserId = Model.ApplicationUser.Id;
}
<h1> Summary </h1>


<form asp-action="InquiryConfirmation">

    <!-- User -->
    <p>
        <label>Name</label>
        <input type="text" asp-for="@Model.ApplicationUser.FullName" class="form-control" />
    </p>

    <p>
        <label>Phone</label>
        <input type="text" asp-for="@Model.ApplicationUser.PhoneNumber" class="form-control" />
    </p>

    <p>
        <label>Email</label>
        <input type="text" asp-for="@Model.ApplicationUser.Email" class="form-control" />
    </p>


    <!-- Products -->
    @foreach (var item in Model.ProductList)
    {
        <input type="hidden" asp-for="@item.Id" asp-route-ProductIds/>
        <p>
            Product Name: @item.Name
        </p>

        <p>
            Price: @item.Price
        </p>
    }
    <select asp-for="@ProductIds" class="form-control" hidden multiple>
        @foreach (var item in Model.ProductList)
        {
            <option value="@item.Id" selected></option>
        }
    </select>
    <input asp-for="@UserId" hidden></input>

    <p>
        <button type="submit" class="btn btn-success form-control">Submit</button>
    </p>

</form>