@model SpaceShop.ViewModels.DetailsViewModel

<p>
    <h2>@Model.Product.Name</h2>

    <h2>@Model.Product.Price</h2>
</p>
<p>
    <img src="@PathManager.ImageProductPath@Model.Product.Image" />
</p>
<p>
    <h2>@Model.Product.Category.Name</h2>
</p>
<p>
    @Html.Raw(Model.Product.Description)
</p>
<p>
    <a class="btn btn-primary" asp-action="Index">Back</a>
    <button type="submit" class="btn btn-success">Add to cart</button>
</p>