@model SpaceShop_ViewModels.DetailsViewModel
@{
    int id = Model.Product.Id;
}

<form method="post">
    <input asp-for="@id" hidden></input>
    <p>
        <h2>@Model.Product.Name</h2>

        <h2>@Model.Product.Price</h2>
    </p>
    <p>
        <img src="@SpaceShop_Utility.PathManager.ImageProductPath@Model.Product.Image" />
    </p>
    <p>
        <h2>@Model.Product.Category.Name</h2>
    </p>
    <p>
        @Html.Raw(Model.Product.Description)
    </p>
    <p>
        <a class="btn btn-primary" asp-action="Index">Back</a>
        @if (Model.IsInCart)
        {
            <button type="submit" class="btn btn-danger" asp-action="RemoveFromCart">Remove from cart</button>
        }
        else
        {
            <button type="submit" class="btn btn-success">Add to cart</button>
        }
    </p>
</form>