@model DetailsViewModel
@using LogicService.Dto.ViewModels;
@{
    int id = Model.Product.Id;
    int count = Model.Product.TempCount;
}

<form method="post">
    <input asp-for="@id" hidden></input>
    <p>
        <h2>Name: @Model.Product.Name</h2>

        <h2>Price: @Model.Product.Price</h2>
    </p>
    <p>

        <img src="@SpaceShop_Utility.PathManager.ImageProductPath@Model.Product.Image" />
    </p>
    <p>
        <h2>Category: @Model.Product.Category.Name</h2>
    </p>
    <p>
        @Html.Raw(Model.Product.Description)
    </p>
    <p>
        Count:
    </p>
    <p>@if (Model.IsInCart)
        {
            <input asp-for="@count" class="form-control" disabled/>
        }
        else
        {
            <input asp-for="@count" class="form-control" />
        }
    </p>
    <p>
        <h4>Products in stock: @Model.Product.ShopCount</h4>
    </p>
    <p>
        <a class="btn btn-primary" asp-action="Index">Back</a>
        @if (Model.IsInCart)
        {
            <button type="submit" class="btn btn-danger" asp-action="RemoveFromCart">Remove from cart</button>
        }
        else
        {
            <button type="submit" class="btn btn-success">Add to cart</button>
        }
    </p>
</form>